{% extends 'index/base.html' %}
{% load static %}
{% block title %}Búsqueda de libros{% endblock title %}
{% block content %}

<section class="page-section searcher about-heading">
  <dic class="container">
    <div class="about-heading-content">
      <div class="row me-0">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded p-5 rounded" style="background-color:#f6e1c58c;">
          
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Busqueda de</span>
            <span class="section-heading-lower">Libros</span>
          </h2>
          <p class="mb-0">
            <form action="{% url 'Book_search' %}" method="GET">
              <table>
                {{searcher.as_table}}
              </table>
              <input type="submit" value="BUSCAR">
            </form>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section results cta">
  <div class="container">
    <div class="row me-0">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Resultados de la búsqueda con título:</span>
            <span class="section-heading-lower"><em>{{title}}</em></span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            {% if books %}
            {% for book in books %}
            
            <li class="list-unstyled-item list-hours-item d-flex">
              {{book.title}}   <span class="ms-auto"><em>  |  Autor: {{book.author}}</em></span>
            </li>
            {% endfor %}
            {% else %}
            <li class="list-unstyled-item list-hours-item d-flex">
              No se encontraron libros con ese título.
            </li>
            {% endif %}
            
          
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
        