{% extends 'index/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock title %}

{% block content %}


<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">{{subtitle}}</span>
          <span class="section-heading-lower">{{title}}</span>
        </h2>
        <p class="mb-3">{{content}}</p>
        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Regístrate!</a></div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

